@media screen and (max-width: 640px) {
    .bienv {
        font-size: 0.5em;
        margin-left: -5%;
        margin-top: -20%;
    }
    #select {
        display: block;
        width: 100%;
    }
    input {
        display: block;
        width: 100%;
    }
    .location {
        width: 100%;
        display: block;
    }
    .button {
        display: block;
        width: 100%;
    }

    .section p {
        display: none;
    }
}
